:root {
  --primary-color: white;
  --secondary-color: #1d1e22;
}

body {
  background-color: var(--secondary-color);
  color: #e79a00;
}

.screen {
  width: 300px;
  height: 590px;
  margin: 20px auto;
  background-color: var(--primary-color);
  border-radius: 5px;
  position: relative;
}

ul {
  height: 400px;
  list-style: none;
  padding: 0 1em;
  margin: 1em 0;
  overflow-y: auto;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* give alert a positive absolute */
.alert {
  position: absolute;
  width: 90%;
  left: 0.9rem;
  bottom: 0;
  z-index: 9999;
}
.checkDone {
  text-decoration: line-through;
}
