:root {
  --primary-color: white;
  --secondary-color: #1d1e22;
}

body {
  background-color: var(--secondary-color);
  color: #e79a00;
}

.screen {
  width: 300px;
  height: 590px;
  margin: 20px auto;
  background-color: var(--primary-color);
  border-radius: 5px;
  position: relative;
}

ul {
  max-height: 350px;
  list-style: none;
  padding: 0 1em;
  margin: 1em 0;
  overflow-y: auto;
}

.checkDone {
  text-decoration: line-through;
}

main {
  position: relative;
}

.btn-floating {
  position: absolute;
  bottom: 10px; 
  right: 10px;
  height: 50px;
  width: 50px;
}
